html {
    scroll-behavior: smooth;
}

.body {
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;

    /* background: rgb(209, 209, 209); */
    /* background: #3aafa9; */
    background: #000000;
    /* background: linear-gradient(180deg, rgb(169, 189, 190) 0%, rgb(110, 101, 81) 100%); */
    background-position: center;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 1px
}

#header-class {

    font-size: x-large;
    font-weight: bold;
    /* position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; */
    background: rgb(0, 0, 0);
    /* background: linear-gradient(0deg, rgb(169, 189, 190) 0%, rgb(110, 101, 81) 100%); */
    color: #ffffff;
    border-bottom: solid 2px rgba(255, 255, 255, 0.904);

}

#header_nav {
    margin-right: 20vw;
}

a:active {
    background-color: transparent;
    text-decoration: underline;
}

.page-info {
    font-size: small;
    padding-top: 11vh;
    padding-bottom: 20px;
    position: relative;
    margin: 0 auto;
}

.paragraphs {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 0;
    border-top-style: solid;
    border-top-color: #ffffffc4;
    border-top-width: 4px;
}

.about-headings {
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    max-width: 1200px;
    /* padding: 10px; */

}

#short-info {
    align-items: left;
    text-align: justify;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;

    font-weight: bold;

}



.footer {
    height: 50px;
    position: relative;
    bottom: 0;
    max-width: 900px;
    color: black;
    font-size: large;
    margin: 0 auto;
    position: fixed;
    background-color: rgb(255, 255, 255);
    /* border: solid 1px rgba(8, 6, 6, 0.904);
    border-radius: 20px; */
    margin-bottom: 20px;
    margin-left: 30px;

}




.card {
    background-color: #f0f0f000;
    transition: transform .2s;
    margin: 20px;
    /* border: solid 1px rgba(255, 255, 255, 0); */
}

.card:hover {
    transform: scale(1.1);
}

#strava {
    background-color: rgba(255, 255, 255, 0.705);
}

#rokas {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    transition: 1s;
    font-size: 4vw;
}

/* #rokas:hover {
    transform: rotate(-1deg);
    color: #000000;
} */

#about-me {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    transition: 1s;
    font-size: 3vw;


}

/* #about-me:hover {
    transform: rotate(-1deg);
    color: #000000;
} */

.hidden {
    opacity: 0;
}

.console-container {
    font-size: 35px;
    text-align: left;
    display: block;
    position: relative;
    color: rgb(0, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bold;
    /* padding: 40px 0; */
}

.console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px;
    color: #ffffff;
}

#map {
    height: 400px;
    max-width: 1200px;
    border: solid 1px rgba(8, 6, 6, 0.904);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 20px 10px #201c1c23;

}

.about_me_bio {
    columns: 2;
    padding: 10px;
}

[class^="main-"] {
    break-before: column;
}

.list-group-item-dark {
    background-color: #00000000;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(102, 95, 95);
}

#nation {
    transition: 1s;
}

#nation:after {
    content: 'NATIONALITY';
}

#nation:hover:after {
    content: 'LITHUANIAN';
    color: #000;

}

#hometown:after {
    content: 'HOMETOWN';
}

#hometown:hover:after {
    content: 'ŠIAULIAI';
    color: #000;
}

#now-live:after {
    content: 'CURRENTLY LIVE IN';
}

#now-live:hover:after {
    content: 'VILNIUS';
    color: #000;
}

#alma-mater:after {
    content: 'ALMA MATER';
}

#alma-mater:hover:after {
    content: 'VILNIUS TECH';
    color: #000;
}

#workplace:after {
    content: 'WORKPLACE';
}

#workplace:hover:after {
    content: 'ID VILNIUS';
    color: #000;
}

#myname:after {
    content: 'NAME';
}

#myname:hover:after {
    content: 'ROKAS PETRAVIČIUS';
    color: #000;
}

#hobbies-popup{
    margin-top: 80px;
}


#orienteering:hover {
    color: #000;
}

#mtb:hover {
    color: #000;
}

#nordic-skiing:hover {
    color: #000;
}

#science:hover {
    color: #000;
}

.hobbie-images{
    width:500px;
    height: 300px;
    /* margin-right: 10vh; */
}

img {
    /* border-radius: 20px; */
    transition: all 1s;
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
    
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(230, 230, 230);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
}

.card-body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-style: solid;
    border-color: #ffffffc4;
    border-width: 4px;
}

.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: white;
    border-color: rgba(255, 255, 255, 0);
    
}

/* change hamburger button border color */
.navbar-light button.navbar-toggler {
    border-color: rgba(255, 255, 255, 0);
}

/* change navbar background on collapse */
@media (max-width: 768px) {
    nav.navbar {
        background: lightgray;
        border-color: rgba(255, 255, 255, 0);
        
    }
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
}