{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

  
<iframe src="https://myhub.autodesk360.com/ue2b6358e/shares/public/SH56a43QTfd62c1cd9683fe74b9b340e3966?mode=embed" 
width="50%" allowfullscreen="true"
webkitallowfullscreen="true" mozallowfullscreen="true"  frameborder="0"></iframe>
{% endblock %}
<footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
